@use '../../styles/_globals.module' as *;
@use '../../styles/layout.scss' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  // Header style
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  z-index: 1;

  &.background {
    background-color: $white;

    @include dark {
      background-color: $black;
    }
  }

  &.hidden {
    top: -80px;
  }
}

.container {
  max-width: 1200px;
  margin: auto;
  // Layout
  @include mainGrid;
}

.logo {
  grid-column: 1 / 5;
  justify-self: center;

  & svg {
    width: 150px;
    height: 60px;
  }

  @include smartphone {
    grid-column: 1 / 9;
    justify-self: start;
  }
}

.themeSwitcher {
  grid-column: 11 / 13;
  justify-self: center;

  @include smartphone {
    justify-self: end;
    padding-right: 0.5rem;
  }
}
