@use '../../styles/globals.module' as *;

.tag {
  font-family: 'PlusJakartaSans';
  color: var(--black);
  border-radius: 5px;
  padding: 6px 12px;
  font-size: 0.9rem;
  transition: 0.3s ease-in-out;
  background-color: var(--light-shade);
}
