@use '@styles/_globals.module' as *;

.postContent {
  max-width: 65ch;
  padding-top: 2.25rem;

  h2 {
    margin-top: 2rem;
  }

  p {
    margin-bottom: 0.5rem;
  }

  a {
    color: $primary-500;

    @include dark {
      color: $primary-500;
    }
  }

  blockquote {
    line-height: 1.4;
    font-size: 1rem;
    background-color: $light-l;
    margin: 1.5rem 0;
    padding: 1.2rem;
    border-left: 5px solid $secondary-500;
    quotes: '\201C''\201D''\2018''\2019';

    em {
      line-height: 1.5;
    }

    p {
      margin-bottom: 0;
    }

    @include dark {
      background-color: $light-d;
    }
  }

  pre {
    margin: 1rem 0;
  }

  @include smartphone {
    padding-top: 1.8rem;
  }

  & > p:first-child::first-letter {
    color: $primary-500;
    // initial-letter: 4; at the moment is not compatible with most browsers
    font-size: 4rem;
    line-height: 4rem;
    float: left;
    padding-right: 6px;

    @include dark {
      color: $primary-500;
    }
    @include smartphone {
      padding-right: 4px;
    }
  }
}
