@use '../../styles/_globals.module' as *;

.button {
  padding: 1rem;
  background-color: $primary-500;
  border: 2px solid $primary-500;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  @include normal;

  @include laptop {
    &:hover {
      box-shadow: 0 5px 10px -5px $primary-900;
    }
  }

  @include dark {
    color: $black;

    &:hover {
      box-shadow: 0 5px 10px -5px $primary-400;
    }
  }

  &.secondary {
    background-color: $secondary-100;
    border: 2px solid $secondary-500;

    @include dark {
      background-color: transparent;
      color: $secondary-500;
    }

    @include laptop {
      &:hover {
        color: $black;
        box-shadow: 0 0 40px 40px $secondary-500 inset;
      }
    }
  }
}
