@use '../../styles/globals.module' as *;

.button {
  padding: 1rem;
  background-color: $primary;
  border: 2px solid $primary;
  border-radius: 8px;
  font-size: 1.2rem;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  @include normal;

  @include laptop {
    &:hover {
      box-shadow: 0 5px 10px -5px $black;
    }
  }

  &.secondary {
    @include laptop {
      &:hover {
        color: $black;
      }
    }
  }
}
