@use '../../styles/_globals.module' as *;

.Moon {
  [data-theme='dark'] & {
    display: none;
  }

  transition: 0.3s ease-in-out;

  color: $shadow;
  color: $black;
}

.Sun {
  [data-theme='light'] & {
    display: none;
  }

  transition: 0.3s ease-in-out;

  color: $white;
}
