@use '../../styles/globals.module' as *;

.container {
  @include container;
}

.postHead {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
  align-items: center;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.postImage {
  flex: 1;
  min-height: 200px;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;

  @media screen and (max-width: 1024px) {
    max-height: 400px;
    aspect-ratio: 16 / 9;
  }
}

.postMetadata {
  flex: 1;
  padding: 1rem;
  font-family: 'PlusJakartaSans';
  margin-left: 42px;

  h1 {
    font-family: 'DMSerifDisplay';
    margin-bottom: 1rem;
    text-transform: capitalize;
  }

  .stats {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    p {
      display: inline;

      &:first-child {
        margin-right: 0.5rem;
      }

      &:last-child {
        margin-left: 0.5rem;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.content {
  max-width: 60ch;
  margin: 0 auto;
  padding-bottom: 32px;

  p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
  }
}
