@use '../../styles/globals.module' as *;

.container {
  @include container;
  margin-bottom: 80px;
}

.postHead {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
  align-items: center;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.tags {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.postImage {
  flex: 1;
  min-height: 200px;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;

  @media screen and (max-width: 1024px) {
    max-height: 400px;
    aspect-ratio: 16 / 9;
  }
}

.postMetadata {
  flex: 1;
  padding: 1rem;
  font-family: 'PlusJakartaSans';
  margin-left: 42px;

  h1 {
    font-family: 'DMSerifDisplay';
    margin-bottom: 1rem;
    text-transform: capitalize;
  }

  .stats {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  @media screen and (max-width: 1024px) {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.content {
  max-width: 60ch;
  margin: 0 auto;

  h2 {
    position: relative;
    padding-left: 16px;
    margin-top: 2.25rem;
    margin-bottom: 1rem;
    border-left: 4px solid var(--primary);

    font-family: 'PlusJakartaSans';
    font-weight: 900;
    font-size: 2.5rem;
  }

  h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
    font-family: 'PlusJakartaSans';
    font-weight: 100;
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
  }

  blockquote {
    margin: 1rem 0;
    padding: 1rem;
    background-color: var(--primary-tint);

    cite {
      display: block;
      margin-top: 0.8rem;
      font-size: 1rem;
      text-align: right;
    }

    p {
      margin-bottom: 0;
    }
  }
}
