@use '../../styles/_globals.module' as *;

.hero {
  @include dark {
    background-color: $light-d;
  }

  &.transparent {
    background-color: transparent;
  }

  &.primary {
    background-color: $primary-500;

    @include dark {
      background-color: $primary-500;
    }
  }

  &.secondary {
    background-color: $secondary-500;

    @include dark {
      background-color: $secondary-500;
    }
  }

  &.tertiary {
    background-color: $light-l;

    @include dark {
      background-color: $light-d;
    }
  }

  &.info {
    background-color: $info;

    @include dark {
      background-color: $info;
    }
  }
}

.content {
  @include container;
  margin: 0 auto;
  padding: 0 2rem;
}
