@use '@styles/_globals.module' as *;
@use '@styles/layout.scss' as *;

.footer {
  width: 100%;
  overflow: hidden;
  background-color: $secondary-100;

  @include dark {
    background-color: $light-d;
  }
}

.content {
  @include container;
  @include mainGrid;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  @include smartphone {
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 1rem;
  }
}

.socialLinks {
  grid-column: 1 / 5;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: start;

  & > li {
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }

  @include smartphone {
    grid-column: 1 / 5;
    justify-items: center;
  }
}

.icon {
  display: inline-block;
  margin: 0rem;

  @include smartphone {
    margin: 0.5rem;
  }
}

.credits {
  grid-column: 9 / 12;
  justify-self: end;

  @include smartphone {
    grid-row: 2;
    grid-column: 1 / 6;
    justify-self: center;
  }
}

.themeSwitcher {
  grid-column: 12 / 13;
  justify-self: center;
  align-self: center;

  @include smartphone {
    grid-row: 1;
    grid-column: 5 / 6;
    line-height: 0;
    justify-self: center;
  }
}

.otherLinks {
  grid-row: 2;
  grid-column: 1 / 13;

  & > ul {
    list-style-type: disc;
    list-style-position: inside;
  }

  .smallTitle {
    padding: 1rem 0 1rem;
    font-size: 1.2rem;
    text-decoration: underline;
    font-weight: 800;
  }

  .footerLink {
    color: $primary-500;
    width: fit-content;

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background-color: $primary-500;
      transition: width 0.3s;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }

  @include smartphone {
    grid-row: 3;
    grid-column: 1 / 6;
  }
}

.notAiBadge {
  grid-row: 3;
  grid-column: 11 / 13;
  justify-self: end;

  @include smartphone {
    grid-row: 4;
    grid-column: 1 / 6;
    justify-self: center;
  }
}
