@use '../../styles/_globals.module' as *;

$duration: 0.2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);

.navLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  font-size: 1.2rem;
  line-height: 1.8;
}

.link {
  display: inline-block;
  position: relative;
  text-decoration: none;

  &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $primary-light;
  }

  &:before {
    opacity: 0;
    transform: translateY(-$distance);
    transition: transform 0s $easeOutBack, opacity 0s;
  }

  &:after {
    opacity: 0;
    transform: translateY($distance/2);
    transition: transform $duration $easeOutBack, opacity $duration;
  }

  &:hover,
  &:focus {
    &:before,
    &:after {
      opacity: 1;
      transform: translateY(0);
    }
    &:before {
      transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:after {
      transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
    }
  }

  @include dark {
    &:before,
    &:after {
      background-color: $primary-dark;
    }
  }
}

.active {
  @include bold;
}
