// Colors
$white: hsl(0, 0%, 96%);
$black: hsl(0, 0%, 10%);
$info: hsl(206, 46%, 37%);

$background: hsl(0, 0%, 10%);
$background-opaque: hsla(0, 0%, 10%, 0.4);

$primary: hsl(45, 100%, 55%);
$primary-opaque: hsla(45, 100%, 55%, 0.7);

// Light theme colors
$light-l: hsl(45, 100%, 96%);
// Dark theme colors
$light-d: hsl(209, 49%, 16%);
// primary color
$primary-100: hsl(45, 100%, 95%);
$primary-200: hsl(45, 100%, 85%);
$primary-300: hsl(45, 100%, 75%);
$primary-400: hsl(45, 100%, 65%);
$primary-500: hsl(45, 100%, 55%);
$primary-600: hsl(45, 100%, 45%);
$primary-700: hsl(45, 100%, 35%);
$primary-800: hsl(45, 100%, 25%);
$primary-900: hsl(45, 100%, 15%);
// secondary color
$secondary-100: hsl(43, 100%, 96%);
$secondary-200: hsl(43, 100%, 84%);
$secondary-300: hsl(43, 97%, 73%);
$secondary-400: hsl(43, 100%, 63%);
$secondary-500: hsl(43, 100%, 51%);
$secondary-600: hsl(43, 100%, 43%);
$secondary-700: hsl(43, 100%, 35%);
$secondary-800: hsl(43, 100%, 25%);
$secondary-900: hsl(43, 95%, 15%);
// neutral shades
$neutral-100: hsl(209, 54%, 93%);
$neutral-200: hsl(209, 24%, 77%);
$neutral-300: hsl(209, 14%, 56%);
$neutral-400: hsl(209, 15%, 43%);
$neutral-500: hsl(209, 23%, 28%);
$neutral-600: hsl(209, 34%, 23%);
$neutral-700: hsl(209, 49%, 16%);
$neutral-800: hsl(209, 69%, 11%);
$neutral-900: hsl(209, 100%, 8%);
// semantic colors
$success: hsl(152, 100%, 34%);
$warning: hsl(53, 100%, 46%);
$danger: hsl(357, 100%, 49%);

// breakpoints
$smartphone: 600px;
$tablet-portrait: 850px;
$tablet-landscape: 1200px;
$laptop: 1200px;
// breakpoints in absolute numbers
$smartphoneABS: 600;
$tablet-portraitABS: 850;
$tablet-landscapeABS: 1200;
$laptopABS: 1200;

$gap: 1rem;

// Dark theme shorthand
@mixin dark() {
  [data-theme='dark'] & {
    @content;
  }
}

// container tag template
@mixin container() {
  display: block;
  max-width: 1200px;
  padding: 0 2rem;
  margin-left: auto;
  margin-right: auto;

  & > section {
    padding-bottom: $gap;
  }

  @include smartphone {
    padding: 0 1rem;
  }
}

@mixin main() {
  padding: 5rem 0 calc(8rem + 100px);
  margin: 0;

  @include smartphone {
    padding: calc(80px) 0 calc(8rem + 100px);
  }
}

// heading levels presets
@mixin h1() {
  font-variation-settings: 'wght' 800;
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;

  @include smartphone {
    font-size: 3rem;
  }
}

@mixin h2() {
  font-variation-settings: 'wght' 700;
  font-size: 2.25rem;
  margin: 1rem 0;
  line-height: 1.33;
}

@mixin h3() {
  font-variation-settings: 'wght' 600;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1.6;
}

// semantic mixins
@mixin title() {
  font-family: 'DMSerifDisplay';
  font-size: 3rem;
  margin: 2rem 0 1rem;
}

// font boldness variations
@mixin extralight() {
  font-variation-settings: 'wght' 300;
}
@mixin light() {
  font-variation-settings: 'wght' 400;
}
@mixin normal() {
  font-variation-settings: 'wght' 500;
}
@mixin bold() {
  font-variation-settings: 'wght' 700;
}
@mixin bolder() {
  font-variation-settings: 'wght' 800;
}
@mixin boldest() {
  font-variation-settings: 'wght' 850;
}

//buttons presets
@mixin button($type: 'primary', $size: 'normal') {
  cursor: pointer;
  position: relative;
  padding: 0.8rem 1rem;
  border-radius: 12px;
  font-family: 'PlusJakartaSans';
  font-weight: bold;
  transition: all 0.3s ease;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: -1; /* overlay sotto il testo del bottone */
  }

  &:hover::before {
    opacity: 1;
  }

  @if $type == 'primary' {
    background-color: $primary-opaque;

    &::before {
      background-color: $primary;
    }
  }
  @if $type == 'secondary' {
    background-color: $background-opaque;
    color: $white;

    &::before {
      background-color: hsla(0, 0%, 0%, 1);
    }
  }

  @if $size == 'small' {
    padding: 0.5rem 0.8rem;
  }
  @if $size == 'big' {
    font-size: 1.5rem;
  }
}

// media query mixin
@mixin breakpoint($min) {
  @media screen and (min-width: $min) {
    @content;
  }
}

@mixin laptop() {
  @media screen and (pointer: fine) {
    @content;
  }
}

@mixin smartphone() {
  @media screen and (max-width: $smartphone) {
    @content;
  }
}

@mixin littleSmartphone() {
  @media screen and (max-width: 400px) {
    @content;
  }
}

@mixin tabletPortrait() {
  @media screen and (max-width: $tablet-portrait) and (pointer: coarse) {
    @content;
  }
}

// EXPORTS
:export {
  smartphone: $smartphoneABS;
  tabletPortrait: $tablet-portraitABS;
  tabletLandscape: $tablet-landscapeABS;
  laptop: $laptopABS;
}
