// breakpoints
$smartphone: 600px;
$tablet-portrait: 850px;
$tablet-landscape: 1200px;
$laptop: 1200px;
// breakpoints in absolute numbers
$smartphoneABS: 600;
$tablet-portraitABS: 850;
$tablet-landscapeABS: 1200;
$laptopABS: 1200;

$gap: 1rem;

// container tag template
@mixin container() {
  display: block;
  width: 100%;
  max-width: 1200px;
  padding: 0 32px;
  margin-left: auto;
  margin-right: auto;
}

@mixin main() {
  padding: 5rem 0 calc(8rem + 100px);
  margin: 0;

  @include smartphone {
    padding: calc(80px) 0 calc(8rem + 100px);
  }
}

// heading levels presets
@mixin h1() {
  font-variation-settings: 'wght' 800;
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;

  @include smartphone {
    font-size: 3rem;
  }
}

@mixin h2() {
  font-variation-settings: 'wght' 700;
  font-size: 2.25rem;
  margin: 1rem 0;
  line-height: 1.33;
}

@mixin h3() {
  font-variation-settings: 'wght' 600;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1.6;
}

// semantic mixins
@mixin title() {
  font-family: 'DMSerifDisplay';
  font-size: 3rem;
  margin: 2rem 0 1rem;
}

// font boldness variations
@mixin extralight() {
  font-variation-settings: 'wght' 300;
}
@mixin light() {
  font-variation-settings: 'wght' 400;
}
@mixin normal() {
  font-variation-settings: 'wght' 500;
}
@mixin bold() {
  font-variation-settings: 'wght' 700;
}
@mixin bolder() {
  font-variation-settings: 'wght' 800;
}
@mixin boldest() {
  font-variation-settings: 'wght' 850;
}

// media query mixin
@mixin breakpoint($min) {
  @media screen and (min-width: $min) {
    @content;
  }
}

@mixin laptop() {
  @media screen and (pointer: fine) {
    @content;
  }
}

@mixin smartphone() {
  @media screen and (max-width: $smartphone) {
    @content;
  }
}

@mixin littleSmartphone() {
  @media screen and (max-width: 400px) {
    @content;
  }
}

@mixin tabletPortrait() {
  @media screen and (max-width: $tablet-portrait) and (pointer: coarse) {
    @content;
  }
}

// EXPORTS
:export {
  smartphone: $smartphoneABS;
  tabletPortrait: $tablet-portraitABS;
  tabletLandscape: $tablet-landscapeABS;
  laptop: $laptopABS;
}
