@use './_globals.module' as *;

.homepageHero {
  background-image: url('https://live.staticflickr.com/65535/53615364513_33f22b5e64_k.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 2rem;
  padding-top: calc(76px);
  min-height: max(100vh, 800px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  & > div {
    max-width: 800px;
    margin: 0 auto;
  }

  h1 {
    color: $white;
    text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.8);
    padding-top: 8rem;
  }
}

.greetings {
  margin: 2rem 0;

  h1 {
    @include smartphone {
      // font-size: 2.25rem;
    }
  }

  p {
    @include h3;

    @include smartphone {
      font-size: 1.2rem;
    }
  }
}

.CTAs {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;

  .homeCta {
    @include smartphone {
      font-size: 1rem;
    }
  }
}

.pic {
  transform: rotate(5deg);
  justify-self: end;

  @include tabletPortrait {
    justify-self: center;
  }
}

.accent {
  color: $primary-500;
}
