@use './_globals.module' as *;

.section {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

.photoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.fixToBottom {
  object-position: bottom;
}

.cta {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  gap: 3rem;

  .text {
    flex: 1;
    max-width: 30%;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2;
  }

  .photoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .photo {
    width: auto;
    height: auto;
    max-width: 500px;
    object-fit: cover;
  }

  @media screen and (max-width: 1080px) {
    flex-direction: column;
    height: 100%;
    gap: 0;

    .text {
      max-width: 100%;
      margin: 3rem 0;
      display: flex;
      align-items: center;
      font-size: 1.5rem;
    }

    .photo {
      max-width: unset;
      max-height: 450px;
    }
  }

  @media screen and (max-width: 768px) {
    .photo {
      max-width: 300px;
    }
  }
}

.opaqueBackground {
  background-color: var(--background-opaque);
}

.accent {
  color: var(--primary);
}

.textAccent {
  color: var(--black);
  background-color: var(--primary);
  font-weight: bold;
  padding: 0 8px;
  line-height: 1.6;
}

.title {
  color: var(--white);
  font-family: 'DMSerifDisplay';
  font-size: 3rem;
  text-align: center;
  padding: 0 1rem;
}

.quoteOrigin {
  color: var(--white);
  font-size: 1.2rem;
  margin-top: 0.5rem;
  text-align: center;
  padding: 0 1rem;
}

.photoCta {
  max-width: 13ch;
  font-family: 'DMSerifDisplay';
  font-size: 3rem;
}

.notFound {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  text-align: center;
  background-color: var(--background-more-opaque);

  .description {
    font-family: 'PlusJakartaSans';
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--white);
    padding-bottom: 32px;
  }

  @media screen and (max-width: 768px) {
    gap: 1rem;

    .backToHome > * {
      font-size: 2rem;
      max-width: 15ch;
    }
  }
}

.swipeIndicator {
  position: absolute;
  bottom: 64px;

  .icon {
    color: var(--black);
  }

  @media screen and (max-width: 768px) {
    bottom: 128px;
  }
}
