@use './_globals.module' as *;

html {
  background-color: $white;
  color: $black;
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;

  @media print {
    background-color: #fff;
  }
}

body {
  font-family: 'IBMPlexSerif', Times, serif;
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
    'cv03' 1, 'cv04' 1;
  font-variation-settings: 'wght' 450;
  font-variant: common-ligatures contextual;
  letter-spacing: -0.02em;
  padding: 0;
  background: $white;
}

main {
  padding-bottom: calc(2rem + 114px);
}

b,
strong,
h4,
h5,
h6 {
  font-variation-settings: 'wght' 650;
}
h1 {
  @include h1;
}
h2 {
  @include h2;
}
h3 {
  @include h3;
}
blockquote {
  font-variation-settings: 'wght' 400;
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: greyscale;
  }
}

details summary {
  cursor: pointer;
}
