@use '../../styles/_globals.module' as *;

.hero {
  background-color: $tertiary-light;
  padding: 2rem 0;

  @include dark {
    background-color: $tertiary-dark;
  }
}

.content {
  @include container;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 2rem;

  @include tabletPortrait {
    grid-template-columns: 1fr;
  }
}
