@use '../../styles/_globals.module' as *;

.hero {
  background-color: $background-light;
  padding: 2rem 0;

  @include dark {
    background-color: $background-dark;
  }

  &.transparent {
    background-color: transparent;
  }

  &.primary {
    background-color: $primary-light;

    @include dark {
      background-color: $primary-dark;
    }
  }

  &.secondary {
    background-color: $secondary-light;

    @include dark {
      background-color: $secondary-dark;
    }
  }

  &.tertiary {
    background-color: $tertiary-light;

    @include dark {
      background-color: $tertiary-dark;
    }
  }
}

.content {
  @include container;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 2rem;

  @include tabletPortrait {
    grid-template-columns: 1fr;
  }
}
