@use '../../styles/_globals.module' as *;

.hero {
  background-color: $background-light;

  @include dark {
    background-color: $background-dark;
  }

  &.transparent {
    background-color: transparent;
  }

  &.primary {
    background-color: $primary-light;

    @include dark {
      background-color: $primary-dark;
    }
  }

  &.secondary {
    background-color: $secondary-light;

    @include dark {
      background-color: $secondary-dark;
    }
  }

  &.tertiary {
    background-color: $tertiary-light;

    @include dark {
      background-color: $tertiary-dark;
    }
  }
}

.content {
  @include container;
  margin: 0 auto;
  padding: 0 2rem;
}
