@use '../../styles/_globals.module' as *;

.meta {
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: $shade-black;

  .readingtime {
    @include bolder;
  }

  p:not(:last-child):after {
    content: '/';
    padding: 0 0.5rem;
    @include extralight;
  }

  @include dark {
    color: $tone;
  }
}
