---
import MainLayout from '../layouts/main-layout.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import '../styles/normalize.css'
import '../styles/global.css'
import '../styles/main.scss'
import '../styles/_globals.module.scss'
import '../styles/Home.module.scss'
---

<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main></main>
</MainLayout>
