---
import HomeLayout from '../layouts/HomeLayout.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'

import Footer from '../components/Footer/Footer.svelte'

import css from '../styles/Home.module.scss'
---

<HomeLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <header></header>
  <main>Blank canvas</main>
  <Footer />
</HomeLayout>
