---
import MainLayout from '../layouts/main-layout.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
---

<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main></main>
</MainLayout>
