---
import MainLayout from '../layouts/main-layout.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import { getLatestPostsData } from '../lib/posts'

import Matera from '../../public/images/photos/matera/thumbnail.webp'

import css from '../styles/Home.module.scss'

const postsData = getLatestPostsData()
---

<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main></main>
</MainLayout>
