@use '../../styles/globals.module' as *;

.article {
  display: block;
  margin-bottom: 32px;
  will-change: transform;
  transition: transform 0.2s ease;
  padding-left: 16px;
  padding-right: 16px;

  @include laptop {
    &:hover {
      transform: translateY(-4px);

      .title a {
        text-decoration-color: var(--primary);
      }
    }
  }
}

.head {
  position: relative;

  .date {
    position: absolute;
    z-index: 1;
    top: 16px;
    left: 16px;
    background-color: var(--black);
    color: var(--white);
    padding: 8px 12px;
    border-radius: 4px;
    font-family: 'PlusJakartaSans';
    font-size: 0.8rem;
    line-height: 1;
    font-weight: 600;
    pointer-events: none;
  }

  .image {
    position: relative;
    transform: translate(0);
    display: block;
    height: 0;
    margin-bottom: 24px;
    padding-bottom: 62%;
    border-radius: 8px;
    overflow: hidden;
    background: var(--white);
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      user-select: none;
    }
  }
}

.title {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.8rem;
  line-height: 1;
  font-family: 'PlusJakartaSans';
  font-weight: 600;

  a {
    transition: all 0.35s;
    text-decoration: underline;
    text-decoration-color: var(--white);
    text-decoration-thickness: 2px;
  }
}

.description {
  font-size: 1rem;
  margin-bottom: 0;
}
