@use '../../styles/_globals.module' as *;

$gap: 1rem;

.container {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 5rem;
  padding-bottom: 8rem;
  max-width: 65ch;

  & > section {
    padding-bottom: $gap;
  }

  @media print {
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: unset;
  }

  h1 {
    @include h1;
  }
}

.titleContainer {
  margin-bottom: 4rem;
}

.tags {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

.tag {
  color: $shadow;
  border: 1px solid $shadow;
  border-radius: 1rem;
  padding: 2px 8px;
  font-size: 0.8rem;
  transition: 0.3s ease-in-out;
  // cursor: pointer;

  // &:hover {
  //   color: $black;
  //   border-color: $black;
  // }

  @include dark {
    color: $tone;
    border-color: $tone;

    // &:hover {
    //   color: $tint;
    //   border-color: $tint;
    // }
  }
}

.posts {
  & > li {
    margin-bottom: 3rem;
  }
}

.postContent {
  h1 {
    @include h1;
  }

  h2 {
    @include h2;
  }

  h3 {
    @include h3;
  }

  p {
    margin-bottom: 0.5rem;
  }

  blockquote {
    line-height: 1.4;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 1px;
    background: $tint;
    margin: 1.5rem 0;
    padding: 1.2rem;
    quotes: '\201C''\201D''\2018''\2019';

    em {
      letter-spacing: normal;
      display: inline-block;
      margin-top: 1rem;
      font-size: 1rem;
      color: $shade-black;
      // text-align: center;
    }

    p {
      margin-bottom: 0;
    }
  }

  p > code {
    background-color: #272822;
    color: $white;
    padding: 1px 0.5rem;
    border-radius: 0.1rem;
  }

  pre {
    margin: 1rem 0;
  }

  @include dark {
    pre {
      background-color: $azure-shadow;
    }
  }
}
