@use '../../styles/_globals.module' as *;

.hero {
  padding: 6rem 0;
  margin-top: 1rem;

  p {
    font-size: 1.2rem;
  }

  .title {
    @include h2;
    margin-top: 0;
  }
}

.container {
  @include container;
  padding-top: 4rem;

  @include smartphone {
    padding-top: 2rem;
  }
}

.posts {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;

  @include tabletPortrait {
    justify-content: space-evenly;
  }
}

.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0.5rem;
  background-color: $primary-500;
  transform-origin: 0%;
  z-index: 1;

  @include dark {
    background-color: $primary-500;
  }
}

.postContent {
  max-width: 65ch;
  padding-top: 2.25rem;

  h2 {
    margin-top: 2rem;
  }

  p {
    margin-bottom: 0.5rem;
  }

  a {
    color: $primary-500;

    @include dark {
      color: $primary-500;
    }
  }

  blockquote {
    line-height: 1.4;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 1px;
    background-color: $light-l;
    margin: 1.5rem 0;
    padding: 1.2rem;
    quotes: '\201C''\201D''\2018''\2019';

    em {
      letter-spacing: normal;
      display: inline-block;
      margin-top: 1rem;
      font-size: 1rem;
    }

    p {
      margin-bottom: 0;
    }

    & p:first-child::first-letter {
      color: unset;
      font-size: unset;
      float: unset;
      padding-right: 0;
      margin-top: 0;

      @include dark {
        color: unset;
      }
    }

    @include dark {
      background-color: $light-d;
    }
  }

  pre {
    margin: 1rem 0;
  }

  @include smartphone {
    padding-top: 1.8rem;
  }

  & p:first-child::first-letter {
    color: $primary-500;
    font-size: 4rem;
    float: left;
    padding-right: 8px;
    margin-top: -3px;

    @include dark {
      color: $primary-500;
    }
  }
}
