@use '../../styles/_globals.module' as *;
@use '../../styles/layout.scss' as *;

.nav {
  grid-column: 8 / 12;
  transition: 0.3s ease-in-out;
  overflow: hidden;

  @include smartphone {
    grid-row: 2 / 2;
    grid-column: 1 / 13;
    width: 100%;
    height: 0;
  }
}
