@use '@styles/_globals.module' as *;

.wrapper {
  grid-column: 9 / 11;
  justify-self: end;
  line-height: 0;
}

.menuIcon {
  cursor: pointer;
}

.nav {
  position: absolute;
  top: 76px;
  right: 0;
  z-index: 1;
  overflow: hidden;
  padding: 1rem;
  background-color: $light-l;
  width: 100%;
  height: auto;
  opacity: 1;
  -webkit-box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease-in-out;

  &.collapsed {
    opacity: 0;
    height: 0;
    padding: 0 1rem;
    margin: 0;
  }

  @include dark {
    background-color: $light-d;
  }
}
