@use '../../styles/_globals.module' as *;
@use '../../styles/layout.scss' as *;

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: $tint;
  color: $black;

  @include dark {
    background-color: $shadow-black;
    color: $tint;
  }
}

.content {
  @include mainGrid;
  max-width: 1000px;
  margin: auto;
  padding: 1.5rem;
  padding-top: 2.5rem;

  @include smartphone {
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 1rem;
  }
}

.links {
  grid-column: 1 / 5;

  display: grid;
  grid-template-columns: subgrid;
  justify-items: start;

  & > li {
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }

  @include smartphone {
    grid-column: 1 / 5;
    justify-items: center;
  }
}

.icon {
  display: inline-block;
  margin: 0.5rem;
}

.credits {
  grid-column: 9 / 12;
  justify-self: end;

  @include smartphone {
    grid-row: 2;
    grid-column: 1 / 6;
    justify-self: center;
  }
}

.themeSwitcher {
  grid-column: 12 / 13;
  justify-self: end;

  @include smartphone {
    grid-row: 1;
    grid-column: 5 / 6;
    line-height: 0;
    justify-self: center;
  }
}

.notAiBadge {
  grid-row: 2;
  grid-column: 11 / 13;
  justify-self: end;

  @include smartphone {
    grid-row: 3;
    grid-column: 1 / 6;
    justify-self: center;
  }
}
