@use '../../styles/_globals.module' as *;

$gap: 1rem;

.main {
  @include main;
}

.container {
  @include container;
  display: flex;
  gap: $gap;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2rem;

  & > a {
    flex-basis: 350px;
  }

  @include breakpoint($tablet-landscape) {
    & > a {
      flex-basis: 300px;
    }
  }

  @include smartphone {
    grid-template-columns: 1fr;
  }
}

.galleryTitle {
  text-align: center;
}

.title {
  @include container;
  padding-top: 2rem;

  h1 {
    @include h1;
  }

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .backlink {
    text-decoration: underline;
    color: $black;
    font-size: 0.8rem;

    @include dark {
      color: $shade;
    }
  }
}

.gallery {
  padding: 2rem 1rem 0;
}

.img {
  position: relative;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  line-height: 0;
}

.photoDescription {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  line-height: 1.5rem;
  transition: 0.3s ease-in-out;
  color: $white;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  &.show {
    opacity: 1;
  }

  &.hide {
    opacity: 0;
  }
}

.picTitle {
  @include h3;
  color: $white;
}
