@use '../../styles/globals.scss' as *;

$gap: 1rem;

.container {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 5rem;
  padding-bottom: 8rem;
  max-width: 65ch;

  & > section {
    padding-bottom: $gap;
  }

  @media print {
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: unset;
  }

  h1 {
    @include h1;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backlink {
  text-decoration: underline;
  color: $shade;
  font-size: 0.8rem;
}

.thumbnails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: $gap;
  justify-items: center;
  padding-top: 2rem;

  @include smartphone {
    grid-template-columns: 1fr;
  }
}

.gallery {
  padding-top: 2rem;
}

.img {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.expanded {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.picTitle {
  @include h3;
}

.photoContainer {
  transition: all 0.3s ease-in-out;

  .open {
    animation: opening 0.5s;
    height: auto;

    @keyframes opening {
      from {
        opacity: 0;
        height: 0;
      }
      to {
        opacity: 1;
        height: auto;
      }
    }
  }
  .closed {
    animation: closing 0.3s;
    overflow: hidden;
    height: 0;

    @keyframes closing {
      from {
        opacity: 1;
        height: auto;
      }
      to {
        opacity: 0;
        height: 0;
      }
    }
  }
}
