@use '@styles/_globals.module' as *;
@use '@styles/layout.scss' as *;

.footer {
  width: 100%;
  overflow: hidden;
  background-color: $background;
  color: $white;
}

.content {
  @include container;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include smartphone {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
}

.title {
  @include title;
  font-size: 2rem;
  margin-bottom: 0;
}

.socialLinks {
  display: flex;
  gap: 2rem;

  & > li {
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
}

.icon {
  display: inline-block;
  margin: 0rem;

  @include smartphone {
    margin: 0.5rem;
  }
}

.links {
  & > ul {
    list-style-type: disc;
    list-style-position: inside;
  }

  .footerLink {
    color: $primary-500;
    width: fit-content;

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background-color: $primary-500;
      transition: width 0.3s;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
}
