@use '@styles/_globals.module' as *;

.container {
  line-height: 0;
  padding: 1.2rem;
  margin: 1.5rem;
  background-color: #f1f1f1;
  width: clamp(300px, 80%, 500px);

  &.link {
    cursor: pointer;
    transition: all 0.3s ease;

    @include laptop {
      &:hover {
        transform: perspective(500px) translateZ(20px);
      }
    }
  }

  // Polaroid shadow
  $cardShadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: $cardShadow;
  -webkit-box-shadow: $cardShadow;
  -moz-box-shadow: $cardShadow;

  @include smartphone {
    margin: 1.5rem 0;
    padding: 1rem;
  }
}

.img {
  position: relative;
  width: 100%;
  padding-bottom: 100%;

  img {
    object-fit: contain;
  }
}

.title {
  font-family: 'caveatregular';
  @include h2;
  color: $black;
  margin: 1.2rem 0 0;
  text-align: center;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;

  @include dark {
    color: $black;
  }
}
