@use '../../styles/_globals.module' as *;

.hero {
  padding: 6rem 0;
  margin-top: 1rem;

  p {
    font-size: 1.2rem;
  }

  .title {
    @include h2;
    margin-top: 0;
  }
}

.container {
  @include container;
  padding-bottom: 2rem;
}

.postsCount {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: $secondary-200;
  width: fit-content;

  @include dark {
    background-color: $light-d;
  }

  .number {
    font-size: 2rem;
    @include bold;
    line-height: 2rem;
  }

  @include smartphone {
    display: none;
  }
}

.tagHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-top: 4rem;

  .toTop {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $secondary-500;
      opacity: 0;
      transition: 0.3s ease;
    }

    &:hover::after {
      opacity: 1;
    }

    @include smartphone {
      &::after {
        opacity: 1;
      }
    }
  }

  @include smartphone {
    margin-bottom: 1rem;
    padding-top: 2rem;
  }
}

.tagTitle {
  text-transform: capitalize;
  display: flex;
  align-items: center;

  gap: 1rem;

  @include smartphone {
    h2 {
      font-size: 1.5rem;
    }
  }
}

.tagCloud {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0 0 2rem;

  @include smartphone {
    padding-top: 0.5rem;
    margin: 0;
  }
}

.posts {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;

  @include tabletPortrait {
    justify-content: space-evenly;
  }
}
