@use '../../styles/_globals.module' as *;

.breadcrumbs {
  font-size: 0.8rem;
  padding: 0.8rem 0;
  color: $shade-black;

  @include dark {
    color: $tone;
  }
}

.backlink {
  text-decoration: underline;
  text-transform: capitalize;
}
