---
import Header from '../components/Header/Header.svelte'
// import Footer from '@components/Footer'

const { title, description } = Astro.props
---

<html lang='it'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>{title}</title>
    <meta name='description' content={description} />
  </head>

  <body>
    <Header client:load />
    <slot />
    <!-- <Footer /> -->
  </body>
</html>
