---
// import Header from '@components/Header'
// import Footer from '@components/Footer'

const { title, description } = Astro.props
---

<html lang="it">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <!-- <Header client:only="react" /> -->
    <slot />
    <!-- <Footer /> -->
  </body>
</html>
