// Colours
$white: #f3f3f3;
$black: #171819;
$light: #edf6f7;
$dark: #0b262d;
// Light theme colours
$primary-light: #1687a7;
$secondary-light: #276678;
$tertiary-light: #d3e0ea;
$background-light: #dce5e7;
// Dark theme colours
$primary-dark: #c0eef2;
$secondary-dark: #e9f8f9;
$tertiary-dark: #537fe7;
$background-dark: #28282d;

// breakpoints
$smartphone: 600px;
$tablet-portrait: 850px;
$tablet-landscape: 1200px;
$laptop: 1200px;
// breakpoints in absolute numbers
$smartphoneABS: 600;
$tablet-portraitABS: 850;
$tablet-landscapeABS: 1200;
$laptopABS: 1200;

$gap: 1rem;

// Dark theme shorthand
@mixin dark() {
  [data-theme='dark'] & {
    @content;
  }
}

// container tag template
@mixin container() {
  display: block;
  max-width: 1200px;
  padding: 0 2rem;
  margin-left: auto;
  margin-right: auto;

  & > section {
    padding-bottom: $gap;
  }

  @include smartphone {
    padding: 0 1rem;
  }
}

@mixin main() {
  padding: 5rem 0 calc(8rem + 100px);
  margin: 0;

  @include smartphone {
    padding: calc(80px) 0 calc(8rem + 100px);
  }
}

// heading levels presets
@mixin h1() {
  color: $dark;
  font-variation-settings: 'wght' 800;
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 0.8888889rem;
  line-height: 1.2;

  @include dark {
    color: $light;
  }

  @include smartphone {
    font-size: 3rem;
  }
}

@mixin h2() {
  color: $secondary-light;
  font-variation-settings: 'wght' 700;
  font-size: 2.25rem;
  margin: 1rem 0;
  line-height: 1.3333333;

  @include dark {
    color: $secondary-dark;
  }
}

@mixin h3() {
  color: $black;
  font-variation-settings: 'wght' 600;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1.6;

  @include dark {
    color: $white;
  }
}

// font boldness variations
@mixin extralight() {
  font-variation-settings: 'wght' 300;
}
@mixin light() {
  font-variation-settings: 'wght' 400;
}
@mixin normal() {
  font-variation-settings: 'wght' 500;
}
@mixin bold() {
  font-variation-settings: 'wght' 700;
}
@mixin bolder() {
  font-variation-settings: 'wght' 800;
}
@mixin boldest() {
  font-variation-settings: 'wght' 850;
}

//buttons presets
@mixin button($type: 'primary', $size: 'normal') {
  line-height: normal;
  padding: 0.8rem 1rem;
  border-radius: 12px;
  background-color: $primary-light;
  color: $white;
  transition: 0.3s ease-in-out;

  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;

  @include dark {
    background-color: $primary-dark;
    color: $black;
  }

  &:hover {
    transform: translateY(-10px);
  }

  @if $size == 'small' {
    padding: 0.5rem 0.8rem;
  }
  @if $size == 'big' {
    font-size: 1.5rem;
  }

  @if $type == 'secondary' {
    border-radius: 10px;
    background-color: $tertiary-light;
    color: $secondary-light;

    @include dark {
      background-color: $tertiary-dark;
      color: $secondary-dark;
    }
  }
}

// media query mixin
@mixin breakpoint($min) {
  @media screen and (min-width: $min) {
    @content;
  }
}

@mixin laptop() {
  @media screen and (pointer: fine) {
    @content;
  }
}

@mixin smartphone() {
  @media screen and (max-width: $smartphone) {
    @content;
  }
}

@mixin tabletPortrait() {
  @media screen and (max-width: $tablet-portrait) and (pointer: coarse) {
    @content;
  }
}

// EXPORTS
:export {
  smartphone: $smartphoneABS;
  tabletPortrait: $tablet-portraitABS;
  tabletLandscape: $tablet-landscapeABS;
  laptop: $laptopABS;
}
