// Light theme
$white: #f3f3f3;
$tint: #eaeaea;
$tone: #babec4;
$shade: #94a2b6;
$shadow: #69778c;
$black: #1d1f22;

// Dark theme
$tint-black: #737c8a;
$tone-black: #5b616e;
$shade-black: #3d4149;
$shadow-black: #2e3237;

// Shadows
$light-shadow: rgba(0, 0, 0, 0.5);

// Azure
$azure: #008ad8;
$azure-tint: #0091e6;
$azure-tone: #0079bf;
$azure-shade: #006199;
$azure-shadow: #003959;

// French Blue
$frenchblue: #006eb3;
$frenchblue-tint: #009dff;
$frenchblue-tone: #0076bf;
$frenchblue-shade: #005e99;
$frenchblue-shadow: #004773;

// King Blue
$kingBlue: #4169e1;
$kingBlue-tint: #456fed;
$kingBlue-tone: #3a5dc7;
$kingBlue-shade: #2f4ba1;
$kingBlue-shadow: #1c2d61;

// Ocean Blue
$oceanBlue: #005eb8;
$oceanBlue-tint: #0aa3cf;
$oceanBlue-tone: #0a3ccf;
$oceanBlue-shade: #0065c4;
$oceanBlue-shadow: #003e78;

// breakpoints
$smartphone: 600px;
$tablet-portrait: 850px;
$tablet-landscape: 1200px;
$laptop: 1200px;
// breakpoints in absolute numbers
$smartphoneABS: 600;
$tablet-portraitABS: 850;
$tablet-landscapeABS: 1200;
$laptopABS: 1200;

$gap: 1rem;

// Dark theme shorthand
@mixin dark() {
  [data-theme='dark'] & {
    @content;
  }
}

// container tag template
@mixin container() {
  display: block;
  max-width: 1200px;
  padding: 0 2rem;
  margin-left: auto;
  margin-right: auto;

  & > section {
    padding-bottom: $gap;
  }

  @include smartphone {
    padding: 0 1rem;
  }
}

@mixin main() {
  padding: 5rem 0 calc(8rem + 100px);
  margin: 0;

  @include smartphone {
    padding: calc(80px) 0 calc(8rem + 100px);
  }
}

// heading levels presets
@mixin h1() {
  color: $black;
  font-variation-settings: 'wght' 800;
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 0.8888889rem;
  line-height: 1.2;

  @include dark {
    color: $white;
  }

  @include smartphone {
    font-size: 3rem;
  }
}

@mixin h2() {
  color: $black;
  font-variation-settings: 'wght' 700;
  font-size: 2.25rem;
  margin: 1rem 0;
  line-height: 1.3333333;

  @include dark {
    color: $white;
  }
}

@mixin h3() {
  color: $black;
  font-variation-settings: 'wght' 600;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
  line-height: 1.6;

  @include dark {
    color: $white;
  }
}

// font boldness variations
@mixin extralight() {
  font-variation-settings: 'wght' 300;
}
@mixin light() {
  font-variation-settings: 'wght' 400;
}
@mixin normal() {
  font-variation-settings: 'wght' 500;
}
@mixin bold() {
  font-variation-settings: 'wght' 700;
}
@mixin bolder() {
  font-variation-settings: 'wght' 800;
}
@mixin boldest() {
  font-variation-settings: 'wght' 850;
}

//buttons presets
@mixin button($type: 'primary', $size: 'normal') {
  line-height: normal;
  padding: 0.8rem 1rem;
  border-radius: 12px;
  background-color: $azure-tint;
  color: $white;
  transition: 0.3s ease-in-out;

  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $azure-tone;
  }

  @if $size == 'small' {
    padding: 0.5rem 0.8rem;
  }
  @if $size == 'big' {
    font-size: 1.5rem;
  }

  @if $type == 'secondary' {
    border-radius: 10px;
    background-color: $shadow;
    color: $white;

    &:hover {
      background-color: $shade-black;
    }

    @include dark {
      background-color: $tone;
      color: $black;

      &:hover {
        background-color: $tint;
      }
    }
  }
}

// media query mixin
@mixin breakpoint($min) {
  @media screen and (min-width: $min) {
    @content;
  }
}

@mixin laptop() {
  @media screen and (pointer: fine) {
    @content;
  }
}

@mixin smartphone() {
  @media screen and (max-width: $smartphone) {
    @content;
  }
}

@mixin tabletPortrait() {
  @media screen and (max-width: $tablet-portrait) and (pointer: coarse) {
    @content;
  }
}

// EXPORTS
:export {
  smartphone: $smartphoneABS;
  tabletPortrait: $tablet-portraitABS;
  tabletLandscape: $tablet-landscapeABS;
  laptop: $laptopABS;
}
