// Colors
$white: #fdfffc;
$black: #001427;
$info: #33658a;
// Light theme colors
$light-l: #fff9eb;
// Dark theme colors
$light-d: #152a3e;
// primary color
$primary-100: #faeee2;
$primary-200: #fedeba;
$primary-300: #ffc37e;
$primary-400: #fca039;
$primary-500: #fb8500;
$primary-600: #db7401;
$primary-700: #ad5d03;
$primary-800: #904b00;
$primary-900: #502a00;
// secondary color
$secondary-100: #fff9eb;
$secondary-200: #ffe8ae;
$secondary-300: #fdd779;
$secondary-400: #ffc941;
$secondary-500: #ffb703;
$secondary-600: #db9c00;
$secondary-700: #b07e00;
$secondary-800: #7d5900;
$secondary-900: #4d3702;
// neutral shades
$neutral-100: #e4eef7;
$neutral-200: #b5c5d2;
$neutral-300: #8091a0;
$neutral-400: #5c6e7d;
$neutral-500: #364757;
$neutral-600: #273b4f;
$neutral-700: #152a3e;
$neutral-800: #091e31;
$neutral-900: #001427;
// semantic colors
$success: #00af5e;
$warning: #e9cd00;
$danger: #fa000b;

// breakpoints
$smartphone: 600px;
$tablet-portrait: 850px;
$tablet-landscape: 1200px;
$laptop: 1200px;
// breakpoints in absolute numbers
$smartphoneABS: 600;
$tablet-portraitABS: 850;
$tablet-landscapeABS: 1200;
$laptopABS: 1200;

$gap: 1rem;

// Dark theme shorthand
@mixin dark() {
  [data-theme='dark'] & {
    @content;
  }
}

// container tag template
@mixin container() {
  display: block;
  max-width: 1200px;
  padding: 0 2rem;
  margin-left: auto;
  margin-right: auto;

  & > section {
    padding-bottom: $gap;
  }

  @include smartphone {
    padding: 0 1rem;
  }
}

@mixin main() {
  padding: 5rem 0 calc(8rem + 100px);
  margin: 0;

  @include smartphone {
    padding: calc(80px) 0 calc(8rem + 100px);
  }
}

// heading levels presets
@mixin h1() {
  font-variation-settings: 'wght' 800;
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 0.8888889rem;
  line-height: 1.2;

  @include smartphone {
    font-size: 3rem;
  }
}

@mixin h2() {
  font-variation-settings: 'wght' 700;
  font-size: 2.25rem;
  margin: 1rem 0;
  line-height: 1.3333333;
}

@mixin h3() {
  font-variation-settings: 'wght' 600;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1.6;
}

// font boldness variations
@mixin extralight() {
  font-variation-settings: 'wght' 300;
}
@mixin light() {
  font-variation-settings: 'wght' 400;
}
@mixin normal() {
  font-variation-settings: 'wght' 500;
}
@mixin bold() {
  font-variation-settings: 'wght' 700;
}
@mixin bolder() {
  font-variation-settings: 'wght' 800;
}
@mixin boldest() {
  font-variation-settings: 'wght' 850;
}

//buttons presets
@mixin button($type: 'primary-500', $size: 'normal') {
  line-height: normal;
  padding: 0.8rem 1rem;
  border-radius: 12px;
  background-color: $primary-500;
  color: $white;
  transition: 0.3s ease-in-out;

  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;

  @include dark {
    background-color: $primary-500;
    color: $black;
  }

  &:hover {
    transform: translateY(-10px);
  }

  @if $size == 'small' {
    padding: 0.5rem 0.8rem;
  }
  @if $size == 'big' {
    font-size: 1.5rem;
  }

  @if $type == 'secondary-500' {
    border-radius: 10px;
    background-color: $info;
    color: $secondary-500;

    @include dark {
      background-color: $info;
      color: $secondary-500;
    }
  }
}

// media query mixin
@mixin breakpoint($min) {
  @media screen and (min-width: $min) {
    @content;
  }
}

@mixin laptop() {
  @media screen and (pointer: fine) {
    @content;
  }
}

@mixin smartphone() {
  @media screen and (max-width: $smartphone) {
    @content;
  }
}

@mixin tabletPortrait() {
  @media screen and (max-width: $tablet-portrait) and (pointer: coarse) {
    @content;
  }
}

// EXPORTS
:export {
  smartphone: $smartphoneABS;
  tabletPortrait: $tablet-portraitABS;
  tabletLandscape: $tablet-landscapeABS;
  laptop: $laptopABS;
}
