// Colors
$shade: #ececec;
$black: --black;
$grey: #69778c;
$white: #f3f3f3;
$light-shadow: rgba(0, 0, 0, 0.5);

// breakpoints
$smartphone: 600px;
$tablet-portrait: 768px;
$tablet-landscape: 992px;
$laptop: 1200px;

// headeing levels presets
@mixin h1() {
  color: #111827;
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}

// media query mixin
@mixin breakpoint($max) {
  @media (max-width: $max) {
    @content;
  }
}

@mixin smartphone() {
  @media (max-width: $smartphone) {
    @content;
  }
}
