@use './_globals.module' as *;

@mixin title() {
  @include h2();
  color: $shadow-black;
  margin-top: 0;
  margin-bottom: 0.8rem;

  @include dark {
    color: $white;
  }
}

.container {
  @include container;

  section {
    padding-bottom: 1rem;
  }
}

.card {
  background-color: $tint;
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > h2 {
    @include title;
  }

  &.img {
    line-height: 0;
    padding: 0;
  }

  @include dark {
    background-color: $shade-black;
  }
}

.sectionTitle {
  display: grid;
  gap: $gap;
  grid-template-columns: 1fr 2fr;

  @include smartphone() {
    grid-template-columns: 1fr 1fr;
  }
}
.proPic {
  border-radius: 20px;
}
.greetings {
  @include h1();
  font-size: 2.25rem;
  @include boldest;
  margin-bottom: 0.5rem;
  text-align: center;

  @include smartphone() {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  @include dark {
    color: $white;
  }
}
.name {
  @include h1();
  font-size: 2.25rem;
  margin-bottom: 1rem;
  color: $azure-tint;
  text-align: center;

  @include smartphone() {
    margin-bottom: 0;
    font-size: 2rem;
  }

  @include dark {
    color: $frenchblue-tint;
  }
}

.sectionBio {
  display: grid;
  gap: $gap;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto;
  grid-template-areas: 'bio contacts';

  @include smartphone() {
    grid-template-columns: 1fr;
    grid-template-areas:
      'contacts'
      'bio';
  }
}
.textWall {
  grid-area: bio;
  padding: 1rem 1.5rem;
}
.contactsContainer {
  grid-area: contacts;
  background: url('../public/images/contacts.jpg') no-repeat;
  background-size: cover;
}
.contacts {
  display: flex;
  flex-direction: column;
  @include bold;
  color: $white;
  text-shadow: 0 0 6px $black;
  gap: $gap;

  & > li > a {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    transition: 0.3s ease-in-out;

    &:hover {
      text-decoration: underline;
    }
  }
}

.bold {
  @include bold;
}
.accent {
  @include bold;
  color: $azure-tint;
}

.recentPosts {
  & > h2 {
    @include h2;
    margin: 2.5rem 0 1.5rem;
  }
}

.posts {
  li:not(:last-child) {
    margin-bottom: 3rem;
  }
}
