@use './_globals.module' as *;
@use './layout.scss' as *;

.hero {
  & > div {
    min-height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: center;

    @include tabletPortrait {
      justify-items: center;
      grid-template-columns: 1fr;
    }
  }
}

.greetings {
  margin: 2rem 0;

  h1 {
    @include smartphone {
      // font-size: 2.25rem;
    }
  }

  p {
    @include h3;

    @include smartphone {
      font-size: 1.2rem;
    }
  }
}

.CTAs {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;

  .homeCta {
    @include smartphone {
      font-size: 1rem;
    }
  }
}

.pic {
  transform: rotate(5deg);
  justify-self: end;

  @include tabletPortrait {
    justify-self: center;
  }
}

.recentPosts {
  padding-top: 0;

  .title {
    @include container;

    & > h2 {
      margin: 2.5rem 0 1.5rem;
    }
  }

  @include smartphone {
    padding: 1rem 0;
  }
}

.postsContainer {
  display: flex;
  align-items: center;
}

.posts {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  scroll-padding: 0 50%;
  scroll-snap-type: x mandatory;
  // width: 100%;
  margin: auto;
  padding: 0 3rem;

  li {
    margin: 1rem 1rem 2rem;
    scroll-snap-align: center;
    display: inline-block;
  }

  @include smartphone {
    padding: 0 1rem;
    gap: 0;

    li {
      margin: 1rem 0.8rem 2rem;
    }
  }
}

.accent {
  color: $primary-500;
}

.pageNotFound {
  margin-top: 1rem;
  padding: 6rem 0;

  & > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;

    .pageNotFoundPic {
      position: relative;
      width: 100%;
      min-height: 450px;

      & > img {
        object-fit: cover;
      }
    }

    @include tabletPortrait {
      grid-template-columns: 1fr;
      justify-items: center;

      .pageNotFoundPic {
        min-height: 300px;
      }
    }
  }

  h1 {
    color: $primary-500;

    @include dark {
      color: $primary-500;
    }
  }
}
