@use './globals.scss' as *;

$gap: 1rem;

.container {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 5rem;
  padding-bottom: 8rem;
  max-width: 65ch;

  & > section {
    padding-bottom: $gap;
  }
}

.card {
  background-color: $shade;
  padding: 1rem;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.img {
    line-height: 0;
    padding: 0;
  }

  &.textWall {
    padding: 1rem 1.5rem;
    // line-height: normal;
  }
}

.sectionTitle {
  display: grid;
  gap: $gap;
  grid-template-columns: 1fr 2fr;
}

.sectionBio {
  display: grid;
  gap: $gap;
  grid-template-columns: 3fr 2fr;
}

.greetings {
  @include h1();
  margin-bottom: 0.5rem;
  font-variation-settings: 'wght' 850;
}
.title {
  @include h1();
  margin-bottom: 1rem;
  color: $azure-tint;
}

.proPic {
  border-radius: 25px;
}

.download {
  @include button();
}
