@use './globals.scss' as *;

$gap: 1rem;

.container {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 5rem;
  padding-bottom: 8rem;
  max-width: 65ch;

  & > section {
    padding-bottom: $gap;
  }
}

.card {
  background-color: $tint;
  padding: 1rem;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.img {
    line-height: 0;
    padding: 0;
  }

  &.textWall {
    padding: 1rem 1.5rem;
    // line-height: normal;
  }
}

.bgImg {
}

.sectionTitle {
  display: grid;
  gap: $gap;
  grid-template-columns: 1fr 2fr;
}

.sectionBio {
  display: grid;
  gap: $gap;
  grid-template-columns: 3fr 2fr;
}

.sectionSkills {
  display: grid;
  gap: $gap;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    'basics exp docker'
    'react exp graphql'
    'ts exp postgres';
}
.exp {
  grid-area: exp;

  & > h2 {
    @include h2();
  }
}
.basics {
  grid-area: basics;
  font-size: 0.8rem;
  text-align: center;
}
.docker {
  grid-area: docker;
  text-align: center;
  padding-top: 0.8rem;

  & > p {
    padding-top: 0.2rem;

    & > span {
      @include bold;
      color: $azure-tone;
    }
  }
}
.react {
  grid-area: react;
  padding: 0 1rem 0.8rem;
  text-align: center;

  & > p > span {
    @include bold;
    color: #00b9e7;
    text-shadow: 0 0 6px $white;
  }
}
.graphql {
  grid-area: graphql;
  text-align: center;

  & > p > span {
    @include bold;
    color: #e10098;
  }
}
.ts {
  grid-area: ts;
  color: $white;
  padding-bottom: 100px;
  background: url('../public/images/skills/ts.png') no-repeat;
  background-size: cover;
  text-shadow: 0 0 6px $black;
  text-align: center;

  & > p > span {
    @include bold;
  }
}

.postgres {
  grid-area: postgres;
  font-size: 0.8rem;
  text-align: center;

  & > p > span {
    color: $azure-shade;
    font-size: 1rem;
    @include bold;
  }
}

.greetings {
  @include h1();
  @include boldest;
  margin-bottom: 0.5rem;
}
.title {
  @include h1();
  margin-bottom: 1rem;
  color: $azure-tint;
}

.proPic {
  border-radius: 25px;
}

.download {
  @include button('secondary', 'small');
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: $gap;

  & > li > a {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    transition: 0.3s ease-in-out;

    &:hover {
      color: $azure;
    }
  }
}

.bold {
  @include bold;
}

.accent {
  @include bold;
  color: $azure-tint;
}
