@use './globals.scss' as *;

main {
  margin-left: 300px;
  transition: 0.5s ease-in-out;

  &.collapsed {
    margin-left: 0;
  }

  @include breakpoint(1100px) {
    margin-left: 0;
  }

  @include smartphone() {
    padding: 1rem 1.5rem 0;
  }
}
