@use './_globals.module' as *;
@use './layout.scss' as *;

.pageNotFound {
  margin-top: 1rem;
  padding: 4rem 0;
}

.title {
  p {
    @include h1;
    font-size: 7rem;
    margin: 0;
    color: $secondary-300;
  }

  h1 {
    @include h2;
    color: $secondary-500;
  }
}
